.cartItems hr{
    margin-top: 20px;
    color: rgb(255, 109, 109);
}
.cartItems{
    margin-left: 0;
    max-width: none;
}
.BuyItem{
    margin-left: 0;
    max-width: none;
}
.payPic{
    height: 100px;
}
.aboutBicicle{
    padding-left: 20px;
    list-style-type: none;  
}
.CartDeletProduct{
    border: 0;
    color: red;
    background-color: white;
}
.priceli{
    padding-bottom: 50px;
}
.priceli2{
    padding-bottom: 20px;
}
.PriceAll{
    text-align: right;
}
.WhiteBG{
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
}
#BuyButtonDiv{
    height: 90px;
}
#BuyButton{
    height: 60px;
    width: 250px;
    font-size: x-large;
    font-weight: 100;
}
.BuyData{
  text-align: left;
}
.CardData{
  text-align: left;
}
.CardMy{
    margin-left: 0;
    max-width: none;
}
.CardMy2{
    margin-left: 20px;
    max-width: none;
    background-color: rgba(224, 60, 49, 1);
}

#ASZF{
    font-size: small;
    display: contents;
}
#PayButton{
    width: 100%;
    background-color: rgb(81, 142, 255);
}
.LogoPic{
    background-color: white;
    text-align: right;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.PayButtonDiv{
    height: 110px;
}
.jaa{
    padding-top: 45px;
    float: left;
}
.EmptyCart{
    font-size: xx-large;
    text-align: center;
        
}
.ImgDivHeight{
    height: 620px;
}